.karla-default {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root{
    --greenLighter: hsl(148, 38%, 91%);
    --greenMedium: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --greyMedium:hsl(186, 15%, 59%);
    --greyDarker: hsl(187, 24%, 22%);
    background-color: var(--greenLighter);
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
  }

  form {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    max-width: 75%;
    min-height: 560px;
    border-radius: 10px;
  }

  h1{
    font-family: "Karla", sans-serif;
    font-weight:700;
    font-size: 23px;
    padding-top: 1.4rem;
    padding-left: 1.5rem;
  }

  p {
    display: none;
    color: var(--red);
    font-family: "Karla", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-top: .5rem;
  }

  input[type=radio] {
    accent-color: var(--greenMedium);
  }

  input[type=checkbox] {
    accent-color: var(--greenMedium);
  }

  .successAlert{
    display: none;
    flex-direction: column;
    background-color: var(--greyDarker);
    color: white;
    font-family: 'Karla', sans-serif;
    border-radius: 8px;
    padding: 15px;
  }

  .successMessage {
    display: block;
    color: var(--greenLighter);
    font-size: .7rem;
  }
  .successHeader {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
  }

  .nameFields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 12px;
    margin-top: 1rem;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .fname {
    margin-top: .4rem;
    width: 15rem;
    height: 2.55rem;
    border-radius: 5px;
    border: solid;
    border-width: thin;
    border-color: var(--greyMedium);
    outline: none;
    cursor: pointer;
  }
  .lname {
    margin-top: .4rem;
    width: 15rem;
    height: 2.55rem;
    border-radius: 5px;
    border: solid;
    border-width: thin;
    border-color: var(--greyMedium);
    outline: none;
    cursor: pointer;
  }

  .formLabel {
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    color: var(--greyDarker);
  }

  .emailField {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-left: 1.9625rem;
    padding-right: 1.9625rem;
    cursor: pointer;
  }

  .email {
    margin-top: .4rem;
    width: 100%;
    height: 2.4rem;
    border-radius: 5px;
    border: solid;
    border-width: thin;
    border-color: var(--greyMedium);
    outline: none;
    cursor: pointer;
  }


  .queryField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: .8rem;
    gap: 12px;
    margin-top: 1rem;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .query {
    cursor: pointer;
  }

  .generalEnquiry {
    display: flex;
    justify-content: flex-start;
    margin-top: .6rem;
    padding-left: 1rem;
    width: 15rem;
    height: 2.55rem;
    border-radius: 5px;
    border: solid;
    border-width: thin;
    border-color: var(--greyMedium);
    outline: none;
  }

  .supportRequest {
    display: flex;
    justify-content: flex-start;
    margin-top: .6rem;
    padding-left: 1rem;
    width: 15rem;
    height: 2.55rem;
    border-radius: 5px;
    border: solid;
    border-width: thin;
    border-color: var(--greyMedium);
    outline: none;
  }
  
  .radioLabel {
    display: flex;
    justify-content: center;
    padding-left: .8rem;
    align-items: center;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    color: var(--greyDarker);
  }

  .messageField {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-left: 1.9625rem;
    padding-right: 1.9625rem;
  }

  .message {
    margin-top: .4rem;
    resize: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .consent {
    cursor: pointer;
  }

  .consentField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1.9625rem;
    margin-top: 2rem;
  }

  .consentHelper {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

  .submit {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 91.22905%;
    height: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--greenMedium);
    color: white;
    font-style: 'Karla', sans-serif;
    font-weight: 400;
    cursor: pointer;
  }

  @media (max-width: 733px) {
    .emailField {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }

    .email {
      margin-top: 1;
      width: 15rem;
      height: 2.55rem;
      border-radius: 5px;
      border: solid;
      border-width: thin;
      border-color: var(--greyMedium);
      outline: none;
    }
    .messageField {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 1rem;
      padding-left: 0;
      padding-right: 0;
    }
    .message {
      width: 15rem;
      border-radius: 5px;
      border: solid;
      border-width: thin;
      border-color: var(--greyMedium);
      outline: none;
    }
    
    .consentField {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 1rem;
      padding-left: 0;
      padding-right: 0;
    }

  }

  @media (max-width: 600px) {
    .nameFields{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      gap: 0;
      margin-top: 1rem;
      font-family: "Karla", sans-serif;
      font-size: 16px;
      font-weight: 400;
    }

    .queryField {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-right: 0;
      gap: 0;
      font-family: "Karla", sans-serif;
      font-size: 16px;
      font-weight: 400;
    }

    .queryHelp {
      display: none;
    }

  }

  @media (max-width: 689px) {
    .queryField {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-right: 0;
      gap: 0;
      font-family: "Karla", sans-serif;
      font-size: 16px;
      font-weight: 400;
    }

    .queryHelp {
      display: none;
    }
  }